h2 {
  color: #0d6efd;
  padding-bottom: 30px;
}
.col-md-4 {
  margin-bottom: 20px;
}

.btn:hover {
  background: #e2edff;
  color: #0d6efd;
}

.destinasi,
.distribusi,
.distribusi h3,
.itinerary {
  padding: 100px 0 50px 0;
}

/* destinasi */
.destinasi img {
  height: 100%;
}

/* harga */
.harga {
  padding-bottom: 50px;
}

/* footer */
footer {
  color: #fff;
}
footer img {
  width: 260px;
}
footer a svg {
  color: #fff;
  margin-left: 15px;
  height: 20px;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
