.gallery .col-md-4:hover,
.packages .col-md-4:hover,
.contact .col-md-4:hover,
.team .col-md-4:hover,
.col-md-6:hover,
.col-md-8:hover {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
.col-md-4 {
  margin-bottom: 20px;
}
form {
  padding: 20px;
}

.btn:hover {
  background: #e2edff;
  color: #0d6efd;
}

h2 {
  padding-top: 50px;
  margin: 20px 20px 0 0;
  color: #0d6efd;
}
.home .content h5 {
  color: white;
}
.team img {
  width: 40%;
  border-radius: 50%;
}
.gallery img {
  width: 100%;
}

#packages .row .col-md-4 .card-body,
#team .row .col-md-4 .card-body,
#contact .row .col-md-8 .card-body,
#contact .row .col-md-4 .card-body {
  background-color: #e2edff;
}

.gallery,
.packages,
.contact,
.team {
  padding-bottom: 20px;
}
.col-md-4,
.col-md-6 {
  margin: 25px 0;
}

/* home start */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content h1 {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  color: #fff;
  padding: 0.5rem 0;
}

.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* home ends */

/* about stars*/
.about {
  height: 100vh;
}

/* packages stars */
.packages .card .card-body .price {
  font-size: 1.2rem;
  color: #333;
  padding-top: 0.5rem;
}

.packages .card .card-body span {
  color: #666;
  font-size: 0.7rem;
  text-decoration: line-through;
}

/* contact */
.contact svg {
  color: #0d6efd;
  margin-right: 1rem;
}

/* Footer starts */
footer {
  color: #fff;
}
footer img {
  width: 260px;
}
footer svg {
  margin-left: 15px;
  height: 20px;
  color: #fff;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
